/*                (MOBILE - FOOTER)                  */
.pieDePagina { 
    background-color: rgb(100, 0, 0);
    color: rgb(214, 214, 214);
    text-align: center; 
 

    .footerLogos {
       
        .comsLogo {
            width: auto;
            height: 28px;
            margin: 20px 5px; 
        }
    }

    .footerText {
        display: none;
    }
       
    .derechos {   
        text-align: center;
        color: $primaryFontColor;
        font-size: 10px;
        margin-top: 10px; 
        margin-bottom: 10px;
    }
}



/*                (TABLET - FOOTER)                  */
@media screen and  (min-width: 768px) { 

    .pieDePagina { 
        font-size: 22px;

        .footerLogos {

            .comsLogo {
                width: 60px;
                height: 70px;
            }
        }

        .footerText {
            display: inline-flex;
        }

        .derechos {   
            font-size: 16px;
        }
    }
}



/*                (DESKTOP - FOOTER)                  */
@media screen and (min-width: 992px) { 
    
    .pieDePagina { 
        font-size: 22px;

        .footerLogos {

            .comsLogo {
                width: 60px;
                height: 70px;
            }
        }

        .footerText {
            display: inline-flex;
        }
        
        .derechos {   
            font-size: 20px;
        }
    }
}