/*                (MOBILE - HEADER)                  */

.cabecera {
    background-color: $secondaryBGColor;
    align-items: center;
    
    .cabeceraLogo { 
        height: auto;
        width: 51px;
    }
    
    .navbar {

        .collapse {

            .menuButtons {
                list-style-type: none;
                height: 150px;
                display: inline;

                .cabeceraLink {

                    .cabeceraBoton {
                        text-decoration: none;
                        display: block;
                        background: linear-gradient(70deg, rgba(150,0,0,1) 0%, rgba(100,0,0,1) 20%, rgba(100,0,0,1) 100%);
                        font-size: 14px;
                        color: $primaryFontColor;
                        border-bottom: 1px solid rgb(32, 32, 32);
                        border-left: 1px solid rgb(32, 32, 32);
                        border-radius: 5px;
                        margin-left: 5px;
                        margin-bottom: 5px;
                        padding-left: 10px;
                        padding-right: 10px;
                        &:hover {
                            background: linear-gradient(70deg, rgba(100,0,0,1) 0%, rgba(100,0,0,1) 80%, rgba(150,0,0,1) 100%);
                            border-bottom: 1px solid rgb(214, 214, 214);
                            border-left: 1px solid rgb(214, 214, 214);
                        }
                    }
                }
            }
        }
    }

    .cabeceraTitulo {
        font-size: 26px;
        color: $primaryFontColor;
        text-align: center;
    }
        
    .cabeceraSubtitulo {
        font-size: 16px; 
        color: $primaryFontColor;
        text-align: center;
    }
        
    .cabeceraSubtitulo2 {
        font-size: 12px; 
        color: $primaryFontColor;
        text-align: center;
    }
}



/*                (TABLET - HEADER)                  */

@media screen and  (min-width: 768px) { 
    
    .cabecera {

        .cabeceraLogo { 
            height: auto;
            width: 138px;
        }

        .navbar {

            .collapse {

                .menuButtons {

                    .cabeceraLink {
                    
                        .cabeceraBoton {
                            font-size: 28px;
                            &:hover {
                                background: linear-gradient(70deg, rgba(100,0,0,1) 0%, rgba(100,0,0,1) 80%, rgba(150,0,0,1) 100%);
                                border-bottom: 1px solid rgb(214, 214, 214);
                                border-left: 1px solid rgb(214, 214, 214);
                            }
                        }
                    }
                }
            }
        }
        
        .cabeceraTitulo {
            font-size: 52px;
        }

        .cabeceraSubtitulo { 
            font-size: 32px;
        }

        .cabeceraSubtitulo2 {
            font-size: 24px;
        }
    }
}



/*                (DESKTOP - HEADER)                  */

@media screen and (min-width: 992px) { 
    
    .cabecera {

        .cabeceraLogo { 
            position: absolute;
            height: 255px;
            width: 153px;
            margin-top: 15px;
            margin-left: 15px;
        }    

        .navbar {

            .collapse {
                
                .menuButtons {
                    justify-content: space-around;
                    display:flex;
                    flex-direction: row;
                    height: 80px;
                    margin-top: 50px;
                    
                    .cabeceraLink {
                    
                        .cabeceraBoton {
                            font-size: 32px;
                            border-radius: 10px;
                            border-bottom: 1px solid rgba(36, 36, 36, 0);
                            border-top: 1px solid rgba(36, 36, 36, 0);
                            padding: 10px 20px;
                            transition: background-color 1s, color 1s;
                            &:hover {
                                background-color: rgb(186, 129, 129);
                                color: rgb(77, 74, 74);
                                border-radius: 10px;
                                border: rgb(0,0,0,0);
                            }
                        }
                    }
                }
            }
        }
   

        .cabeceraTitulo {
            font-size: 72px;
        }

        .cabeceraSubtitulo { 
            font-size: 38px;
        }
        
        .cabeceraSubtitulo2 {
            font-size: 28px;
        }
    }
}