$fondo: (
    primaryBGColor: rgb(235, 235, 235),
    secondaryBGColor: rgb(100, 0, 0),
    thirdBGColor: rgba(0, 0, 0, 0.584),
    fourthBGColor: rgb(186, 129, 129),
    fifthBGColor: rgba(48, 33, 33, 0.8),
    sixthBGColor: rgba(255, 0, 0, 0.1),
    seventhBGColor: rgba(69, 54, 54, 0.864),
    eigthBGColor: rgb(78, 12, 12),
    ninthBGColor: rgb(245, 245, 220)
);