/*Background Colors */

$primaryBGColor: #ebebeb;
$secondaryBGColor: #640000;
$thirdBGColor: #00000095;

/*Font Colors */

$primaryFontColor: #d6d6d6;
$secondaryFontColor: #f5f5dc;
$thirdFontColor: #202020;
