/*Background Colors */

$primaryBGColor: #ebebeb;
$secomdaryBGColor: #640000;
$thirdBGColor: #00000089;

/*Font Colors */

$primaryFontColor: #d6d6d6;
$secondaryFontColor: #f5f5dc;
$thirdFontColor: #202020;
