@import "./partials/variables",
        "./partials/extends",
        "./partials/mixin",
        "./partials/maps",
        "./partials/header",
        "./partials/footer";

* {
    font-family: 'Playfair Display', serif;
}



/* -------------------- MOBILE-FIRST -------------------- */


/* INDEX (Mobile) */

.cuerpoIndex {
    background-color: map-get($fondo, primaryBGColor);

    .introduccion {
        color: $thirdFontColor;
        font-size: 12px;
        text-indent: 40px;
        text-align: justify;
    }

    .citas {
        text-align: end;
        background-image: url(https://wallpaperaccess.com/full/702858.jpg);
        background-position: center;
        background-size: cover;
        font-size: 18px;
        color: $primaryFontColor;
        padding: 30px 15px;
        margin-bottom: 20px; 

        .citaBottom { 
            background-color: map-get($fondo, thirdBGColor);
            font-style: italic;
            padding: 20px;
        }
    }
}


/* SERVICIOS (Mobile) */

.cuerpoServicios {
    background-image: url(../Imagenes/escritorio.jpg);
    background-size: cover;
    text-align: center;
    justify-content: center;

    .serv__Tipo {
        background-color: map-get($fondo, fifthBGColor);
        border-radius: 15px;
        margin-top: 15px;
        margin-bottom: 10px;
  
        .serv__TipoTitulo {
            background-color: map-get($fondo, secondaryBGColor);
            color:  $primaryFontColor;
            font-size: 18px;
            @extend %espaciadoElemento;
        }

        .serv__Rama {
            background-color: map-get($fondo, sixthBGColor);
            border-radius: 15px;
            list-style-type: none;
            color: rgb(201, 201, 201);
            font-size: 16px;
            padding: 5px 10px;
            margin-top: 5px; 
            margin-bottom: 5px; 
        }

        .serv__RamaLista {
            list-style-type: none;
            color: $primaryFontColor;
            font-size: 14px;
            text-align: start;
        }
    }
}


/* SOBRE NOSOTROS (Mobile) */

.nosotrosCuerpo {
    background-image: url(../Imagenes/Temis.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;

    .nosotros__Subtitulo {
        border-radius: 25px;
        background-color: map-get($fondo, thirdBGColor);
        font-size: 20px;
        color: $fourtFontColor;
        text-decoration: underline solid 3px rgb(255, 190, 190);
        margin: 20px 30px;
        padding: 10px 20px;
    }

    .nosotros__Texto {
        border-radius: 25px;
        background-color: map-get($fondo, seventhBGColor);
        color:  $primaryFontColor;
        font-size: 16px;
        line-height: 2;
        text-align: justify;
        text-justify: inter-word;
        text-indent: 120px;
        margin: 20px 30px;
        padding: 10px 20px;
    }
}



/* EQUIPO (Mobile) */

.equipo__Cuerpo {
    background-color: map-get($fondo, primaryBGColor);
    color: $thirdFontColor;

    .equipo__TituloPrincipal {
        font-size: 22px;
        font-style: italic;
    }
    
    div {
        justify-content: center;
    
        .equipo__Tarjeta {
            background-color: map-get($fondo, eigthBGColor);
            color:  $primaryFontColor;
            margin-top: 15px;
            padding: 15px;

            .equipo__Miembro {
                @include display($tipo: flex, $direction: column);
                background-color: map-get($fondo, seventhBGColor);
                
                .equipo__MiembroDatos {
                    text-align: center;
                    line-height: 1;
                    background-size: cover;
                    justify-content: space-evenly;
                    
                    .equipo__Foto {
                        position: relative;
                        width: 50%;
                        height: 50%;
                        transition: width 2s;
                        &:hover {
                            width: 55%;
                        }
                    }   

                    .equipo__Filiacion {
                        background-color: map-get($fondo, thirdBGColor);
                        margin-right: 12px;
                        padding-top: 15px;
                        
                        .equipo__Nombre {
                            font-size: 16px;
                        }
                        
                        .equipo__Titulo,
                        .equipo__Cargo {
                            font-size: 12px;
                        }
                    }
                    
                    .equipo__Eventos {
                        @include display($tipo: none, $direction: column);
                        line-height: 2;
                    }
                    

                    .equipo__Cita {
                        background-color: map-get($fondo, thirdBGColor);
                        color:  $primaryFontColor;
                        font-style: italic;  
                        font-size: 12px;   
                        text-align: end; 
                        margin-top: 10px;
                        padding: 10px;
                    }                    
                }
            }
        }
    }
}


/* CONTÁCTENOS (Mobile) */

.contact__Cuerpo {
    background-color: map-get($fondo, primaryBGColor);

    .contact__Titulo {
        font-size: 16px;
        text-indent: 40px;
    }
   
    div {     
        justify-content: space-evenly;

        .contact__Formulario {
            border-radius: 25px;
            background-color: map-get($fondo, eigthBGColor);
            color:  $secondaryFontColor;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 30px;
            align-content: center;
    
            .contact__Subtitulo {
                font-size: 18px;
                padding-left: 5px;
                padding-right: 5px;
            }

            .contact__Texto,
            .contact__TipoTexto,
            .contact__Comentario {
                font-size: 16px;
                text-align: left;
                margin-top: 30px;
                margin-bottom: 15px;
            }

            .contact__Tipo {
                @include display($tipo: flex, $direction: row);
                font-size: 18px;
                margin-left: 10px;
                justify-content: space-evenly;
                padding-left: 15px;
                padding-right: 15px;
            }

            .contact__Input {
                font-size: 16px;
            }
                    
            .contact__Boton {
                background-color: map-get($fondo, primaryBGColor);
                @extend %espaciadoElemento;
                &:hover {
                    background-color:map-get($fondo, ninthBGColor);
                }
            }
        }
    }

        .contact__Otros {
            @include display($tipo: flex, $direction: column);
            border-radius: 22px;
            background-color: map-get($fondo, ninthBGColor);
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 30px;
            justify-content: space-around;
            
            .contact__SubtituloOtro {
                font-size: 18px;
                text-align: center; 
            }

            .contact__Foto {
                border-radius: 25px;
                width: 80%;
                height: auto;
                align-self: center;
            }

            .contact__OtrosTexto {
                font-size: 18px;
                text-align: start;
            }
        }

        .contact__Parrafo {
            font-size: 18px;
            text-indent: 80px;
            text-align: justify;
            line-height: 1.5;
            color: $secondaryFontColor;
            background-color: map-get($fondo, eigthBGColor);
            border-radius: 25px;
            padding: 30px;
        }
    }




/* -------------------- TABLET MEDIA-QUERRIE -------------------- */

@media screen and  (min-width: 768px) { 
  

/* INDEX (TABLET) */    
    .cuerpoIndex {

        .introduccion {
            font-size: 24px;
        }
 
        .citas {
            font-size: 36px;
            height: 700px;
            
            .citaBottom {
                margin-top: 300px;
            }
        }
    }


/* SERVICIOS (TABLET) */    
    
    .cuerpoServicios {

        .serv__Tipo {
            border-radius: 25px;

            .serv__TipoTitulo {
                font-size: 36px;
            }

            .serv__Rama {
                font-size: 32px;
            }

            .serv__RamaLista {
                font-size: 28px;
                line-height: 2;
            }
        }
    }


/* SOBRE NOSOTROS (TABLET) */ 

    .nosotrosCuerpo {
        
        .nosotros__Subtitulo {
            font-size: 40px;
        }

        .nosotros__Texto {
            font-size: 32px;
        }
    }


/* EQUIPO (TABLET) */ 

    .equipo__Cuerpo {

        .equipo__TituloPrincipal {
            font-size: 44px;
            font-style: italic;
        }

        div {
            justify-content: space-between;
            
            .equipo__Tarjeta {

                .equipo__Miembro {

                    .equipo__MiembroDatos {

                        .equipo__Foto {
                            width: 30%;
                            &:hover {
                                width: 35%;
                            }    
                        }
                
                        .equipo__Filiacion {

                            .equipo__Nombre {
                                font-size: 32px;
                            }
                
                            .equipo__Titulo,
                            .equipo__Cargo {
                                font-size: 24px;
                            }
                        }

                        .equipo__Eventos {
                            display: inline-flex;
                
                            .equipo__JornadasTitulo {
                                display: inline-flex;
                                font-size: 24px;
                                text-decoration: underline $primaryFontColor;
                            }
                
                            .equipo__ListaJornadas {
                                @include display($tipo: flex, $direction: column);
                                
                                .equipo__Jornadas {
                                    display: inline-flex;
                                    font-size: 20px;
                                    margin-left: 50px;
                                }
                            }
                
                            .equipo__SeminariosTitulo {
                                display: inline-flex;
                                font-size: 24px;
                                text-decoration: underline $primaryFontColor;
                            }
                
                            .equipo__ListaSeminarios {
                                @include display($tipo: flex, $direction: column);
                            
                                .equipo__Seminarios {
                                    display: inline-flex;
                                    font-size: 20px;
                                    margin-left: 50px;
                                }
                            }
                        }

                            .equipo__Cita {
                                font-size: 18px;
                        }
                    }
                }
            }
        }
    }


/* CONTÁCTENOS (TABLET) */ 

    .contact__Cuerpo{
        
        .contact__Titulo {
            font-size: 32px;
            text-indent: 80px;
        }

        div {
        
            .contact__Formulario {

                .contact__Subtitulo {
                    font-size: 36px;
                }
            
                .contact__Texto {
                    font-size: 28px;
                }

                .contact__Input {
                    font-size: 24px;
                }

                .contact__Comentario,
                .contact__Tipo,
                .contact__TipoTexto,
                .contact__Boton {
                    font-size: 28px;
                }
            }

            .contact__Otros {

                .contact__SubtituloOtro {
                    font-size: 36px;
                }

                .contact__OtrosTexto {
                    font-size: 22px;
                }
            }

            .contact__Parrafo {
                font-size: 24px;
            }
        }
    }
}



/* -------------------- DESKTOP MEDIA-QUERRIE -------------------- */

@media screen and  (min-width: 992px) { 


/* INDEX (DESKTOP) */    

    .cuerpoIndex {
        font-size: 32px;
     
        .citas {
            font-size: 42px;
        }
    }


/* SERVICIOS (DESKTOP) */   

    .cuerpoServicios {
        justify-content: space-evenly;
        padding-top: 100px;
        padding-bottom: 100px;
        
        .serv__Tipo {
            border-radius: 25px;
        
            .serv__TipoTitulo {
                font-size: 42px;
            }

            .serv__Rama {
                font-size: 36px;
            }

            .serv__RamaLista {
                font-size: 32px;
                line-height: 2;
            }
        }
    }


/* SOBRE NOSOTROS (DESKTOP) */   

    .nosotros__Subtitulo {
        font-size: 48px;
    }

    .nosotros__Texto {
        font-size: 38px;
    }


/* EQUIPO (DESKTOP) */   

    .equipo__Cuerpo {

        .equipo__TituloPrincipal {
            font-size: 52px;
            font-style: italic;
        }

        div {

            .equipo__Tarjeta {
                    
                .equipo__Miembro {
                    
                    .equipo__MiembroDatos {
                        justify-content: center ;

                        .equipo__Filiacion {

                            .equipo__Nombre {
                                font-size: 42px;
                            }

                            .equipo__Titulo,
                            .equipo__Cargo {
                                font-size: 30px;
                            }
                        }
                        
                        .equipo__Eventos {
                            display: inline-flex;
                            text-align: start;
                
                            .equipo__JornadasTitulo {
                                display: inline-flex;
                                font-size: 32px;
                            }
                
                            .equipo__ListaJornadas {
                                @include display($tipo: flex, $direction: column);
                                
                                .equipo__Jornadas {
                                    display: inline-flex;
                                    font-size: 28px;
                                }
                            }
                
                            .equipo__SeminariosTitulo {
                                display: inline-flex;
                                font-size: 32px;
                            }
                
                            .equipo__ListaSeminarios {
                                @include display($tipo: flex, $direction: column);
                            
                                .equipo__Seminarios {
                                    display: inline-flex;
                                    font-size: 28px;
                                }
                            }
                        }

                            .equipo__Cita {
                                font-size: 24px;
                        }
                    }
                }   
            }
        } 
    }


/* CONTÁCTENOS (DESKTOP) */  

    .contact__Cuerpo {

        .contact__Titulo {
            font-size: 42px;
            text-align: center;
            margin-bottom: 15px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
            
        div {

            div {

            .contact__Formulario {

                .contact__Subtitulo {
                    font-size: 40px;
                    margin-bottom: 50px;
                }

                .contact__Input {
                    font-size: 24px;
                }

                .contact__Texto {
                    font-size: 32px;
                }

                .contact__Comentario,
                .contact__Tipo,
                .contact__TipoTexto,
                .contact__Boton {
                    font-size: 32px;
                }
            }
        }
        
            .contact__Otros {

                .contact__SubtituloOtro {
                    font-size: 42px;
                }

                .contact__OtrosTexto {
                    font-size: 36px;
                }
            }

            .contact__Parrafo {
                font-size: 36px;
            }
        }
    }
}