@import "./partials/header",
        "./partials/footer",
        "./partials/variables";


/* -------------------- MOBILE-FIRST -------------------- */

/* INDEX (Mobile) */

.cuerpoIndex {
    background-color: $secondaryBGColor;
    
    .introduccion {
        color: $thirdFontColor;
        font-size: 20px;
        text-indent: 80px;
        text-align: justify;
    }

    .citas {
        background-image: url(https://wallpaperaccess.com/full/702858.jpg);
        background-position: center;
        background-size: cover;
        font-size: 28px;
        color: $thirdBGColor;

        .citaBottom { 
            background-color: $thirdBGColor;
            font-style: italic;
        }
    }
}


/* SERVICIOS (Mobile) */

.cuerpoServicios {
    background-image: url(../Imagenes/escritorio.jpg);
    background-size: cover;

    .serv__Tipo {
        background-color: rgba(48, 33, 33, 0.8);
        border-radius: 15px;

        .serv__TipoTitulo {
            background-color: $secpmdaryBGColor;
            color:  $primaryFontColor;
            font-size: 24px;
            border-radius: 20px;
        }

        .serv__Rama {
            background-color: rgba(255, 0, 0, 0.1);
            border-radius: 15px;
            list-style-type: none;
            color: rgb(201, 201, 201);
            font-size: 20px;
        }

        .serv__RamaLista {
            list-style-type: none;
            color: $primaryFontColor;
            font-size: 18px;
        }
    }
}


/* SOBRE NOSOTROS (Mobile) */

.nosotrosCuerpo {
    background-image: url(../Imagenes/Temis.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;


    .nosotros__Subtitulo {
        border-radius: 25px;
        background-color: $thirdBGColor;
        font-size: 26px;
        color: rgb(255, 190, 190);
        text-decoration: underline solid 3px rgb(255, 190, 190);
    }

    .nosotros__Texto {
        border-radius: 25px;
        background-color: rgba(69, 54, 54, 0.864);
        color:  $primaryFontColor;
        font-size: 18px;
        line-height: 2;
        text-align: justify;
        text-justify: inter-word;
        text-indent: 120px;
    }
}


/* EQUIPO (Mobile) */

.equipo__Cuerpo {
    background-color: rgb(211, 208, 208);
    color: $secondaryFontColor;
    font-size: 34px;
    
    .equipo__TituloPrincipal {
        font-size: 20px;
        text-align: center;
        font-style: italic;
    }

    .equipo__Tarjeta {
        background-color: rgb(78, 12, 12);
        color:  $primaryFontColor;
            
        .equipo__Miembro {
            display: flex;    
            background-color: rgb(69, 54, 54);
            flex-direction: column;

            .equipo__MiembroDatos {
                text-align: right;
                line-height: 1;
                background-size: cover;

                .equipo__Foto {
                    position: relative;
                    width: 50%;
                    height: 50%;
                    transition: width 2s;
                }

                .equipo__Foto:hover {
                    width: 60%;
                }

                .equipo__Filiacion {
                    background-color:  $thirdBGColor;
                    
                    .equipo__Nombre {
                        font-size: 22px;
                    }
                    
                    .equipo__Titulo {
                        font-size: 14px;
                    }
                    
                    .equipo__Cargo {
                        font-size: 14px;
                        text-align: center;
                    }
                }
                
                .equipo__Eventos {
                    display: none;
                    flex-direction: column;
                    line-height: 2;
                }

                .equipo__Cita {
                    background-color: $thirdBGColor;
                    color:  $primaryFontColor;
                    font-style: italic;  
                    font-size: 16px;
                }
            }
        }
    }
}


/* CONTÁCTENOS (Mobile) */

.contact__Titulo {
        font-size: 20px;
    }

.contact__Formulario {
    border-radius: 25px;
    background-color: rgb(78, 12, 12);
    color:  $primaryFontColor;
  
    .contact__Subtitulo {
        font-size: 26px;
    }
    .contact__Texto,
    .contact__TipoTexto,
    .contact__Tipo,
    .contact__Comentario {
        font-size: 20px;
    }

    .contact__Input {
        font-size: 18px;
    }
            
    .contact__Boton {
        background-color: rgb(245, 245, 220);
        border-radius: 10px;
    }
    
    .contact__Boton:hover {
        background-color: rgb(255, 233, 233);
    }
}

.contact__Otros {
    border-radius: 25px;
    background-color: rgb(245, 245, 220);
    
    .contact__SubtituloOtro {
        font-size: 26px;
    }

    .contact__Foto {
        border-radius: 25px;
        width: 80%;
        height: auto;
    }

    .contact__OtrosTexto {
        font-size: 20px;
    }
}

.contact__Parrafo {
    font-size: 20px;
    text-indent: 80px;
    text-align: justify;
    line-height: 1.5;
    color: $secondaryFontColor;
    background-color: rgb(78, 12, 12);
    border-radius: 25px;
}


/* -------------------- TABLET MEDIA-QUERRIE -------------------- */

@media screen and  (min-width: 768px) { 
  

/* INDEX (TABLET) */    
    .cuerpoIndex {

        .introduccion {
            font-size: 32px;
        }
 
        .citas {
            font-size: 48px;
            height: 700px;
        }
    }


/* SERVICIOS (TABLET) */    
    .cuerpoServicios {

        .serv__Tipo {
            border-radius: 25px;

            .serv__TipoTitulo {
                font-size: 32px;
            }

            .serv__Rama {
                font-size: 28px;
            }

            .serv__RamaLista {
                font-size: 24px;
                line-height: 2;
            }
        }
    }


/* SOBRE NOSOTROS (TABLET) */ 

    .nosotrosCuerpo {
        
        .nosotros__Subtitulo {
            font-size: 34px;
        }

        .nosotros__Texto {
            font-size: 28px;
        }
    }

/* EQUIPO (TABLET) */ 

    .equipo__Cuerpo {

        .equipo__TituloPrincipal {
            font-size: 48px;
            font-style: italic;
        }

        .equipo__Tarjeta {

            .equipo__Miembro{

                .equipo__MiembroDatos{

                    .equipo__Foto {
                        width: 30%;
                    }
            
                    .equipo__Foto:hover {
                        width: 35%;
                    }

                    .equipo__Filiacion {

                        .equipo__Nombre {
                            font-size: 32px;
                        }
            
                        .equipo__Titulo,
                        .equipo__Cargo {
                            font-size: 18px;
                        }
                    }

                    .equipo__Eventos {
                        display: inline-flex;
            
                        .equipo__JornadasTitulo {
                            display: inline-flex;
                            font-size: 26px;
                        }
            
                        .equipo__ListaJornadas {
                            display: flex;
                            flex-direction: column;
                            
                            .equipo__Jornadas {
                                display: inline-flex;
                                font-size: 20px;
                            }
                        }
            
                        .equipo__SeminariosTitulo {
                            display: inline-flex;
                            font-size: 26px;
                        }
            
                        .equipo__ListaSeminarios {
                            display: flex;
                            flex-direction: column;
                        
                            .equipo__Seminarios {
                                display: inline-flex;
                                font-size: 20px;
                            }
                        }
                    }
                    
                    .Equipo__SeccionCitas{

                        .equipo__Cita {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

/* CONTÁCTENOS (TABLET) */ 

    .contact__Titulo {
        font-size: 28px;
    }
    
    .contact__Formulario {

        .contact__Subtitulo {
            font-size: 28px;
        }
    
        .contact__Texto {
            font-size: 24px;
        }

        .contact__Input {
            font-size: 22px;
        }

        .contact__Tipo,
        .contact__Comentario,
        .contact__TipoTexto {
            font-size: 24px;
        }
    }
    .contact__Otros {
        display: flex;
        flex-direction: column;

        .contact__OtrosTexto {
            font-size: 22px;
        }
    }

    .contact__Parrafo {
        font-size: 24px;
    }
}


/* -------------------- DESKTOP MEDIA-QUERRIE -------------------- */

@media screen and  (min-width: 992px) { 


/* INDEX (DESKTOP) */    

.cuerpoIndex {
    font-size: 30px;
}


/* SERVICIOS (DESKTOP) */   

.serv__Tipo {

    border-radius: 25px;
    .serv__TipoTitulo {
        font-size: 32px;
    }

    .serv__Rama {
        font-size: 28px;
    }

    .serv__RamaLista {
        font-size: 24px;
        line-height: 2;
    }
}


/* SOBRE NOSOTROS (DESKTOP) */   

    .nosotros__Subtitulo {
        font-size: 34px;
    }

    .nosotros__Texto {
        font-size: 28px;
    }


/* EQUIPO (DESKTOP) */   

    .equipo__TituloPrincipal {
        font-size: 48px;
        font-style: italic;
    }

   .equipo__Nombre {
        font-size: 32px;
    }
    
    .equipo__Titulo,
    .equipo__Cargo {
        font-size: 18px;
    }

    .equipo__Eventos {
        display: inline-flex;
    
        .equipo__JornadasTitulo,
        .equipo__SeminariosTitulo {
            display: inline-flex;
            font-size: 22px;
        }
        
        .equipo__Jornadas,
        .equipo__Seminarios {
            display: inline-flex;
            font-size: 22px;
        }
    }
    .equipo__Cita {
        font-size: 20px;
    }


/* CONTÁCTENOS (DESKTOP) */  

    .contact__Titulo {
        font-size: 28px;
    }

    .contact__Subtitulo {
        font-size: 28px;
        margin-bottom: 50px;
    }

    .contact__Input {
        font-size: 22px;
    }

    .contact__Texto {
        font-size: 24px;
    }

    .contact__OtrosTexto {
        font-size: 24px;
    }

    .contact__Parrafo {
        font-size: 24px;
    }

    .contact__Tipo,
    .contact__Comentario,
    .contact__TipoTexto {
        font-size: 24px;
    }
}