@charset "UTF-8";
/*Background Colors */
/*Font Colors */
/*                (MOBILE - HEADER)                  */
.cabecera {
  background-color: #640000;
}
.cabecera .cabeceraLogo {
  height: auto;
  width: 51px;
}
.cabecera .menuButtons {
  list-style-type: none;
  font-size: 16px;
  height: 150px;
  display: inline;
}
.cabecera .menuButtons .cabeceraLink a {
  background: linear-gradient(70deg, rgb(150, 0, 0) 0%, rgb(100, 0, 0) 20%, rgb(100, 0, 0) 100%);
  display: block;
  text-decoration: none;
  color: #d6d6d6;
  border-bottom: 1px solid rgb(32, 32, 32);
  border-left: 1px solid rgb(32, 32, 32);
  border-radius: 5px;
}
.cabecera .menuButtons .cabeceraLink a:hover {
  background: linear-gradient(70deg, rgb(100, 0, 0) 0%, rgb(100, 0, 0) 80%, rgb(150, 0, 0) 100%);
  border-bottom: 1px solid rgb(214, 214, 214);
  border-left: 1px solid rgb(214, 214, 214);
}
.cabecera .cabeceraTitulo {
  font-size: 28px;
  color: #d6d6d6;
}
.cabecera .cabeceraSubtitulo {
  font-size: 20px;
  color: #d6d6d6;
}
.cabecera .cabeceraSubtitulo2 {
  font-size: 18px;
  color: #d6d6d6;
}

/*                (TABLET - HEADER)                  */
@media screen and (min-width: 768px) {
  .cabecera .cabeceraLogo {
    position: absolute;
    height: 230px;
    width: 138px;
  }
  .cabecera .cabeceraLink a {
    font-size: 28px;
  }
  .cabecera .cabeceraLink a:hover {
    font-size: 28px;
  }
  .cabecera .cabeceraTitulo {
    font-size: 58px;
  }
  .cabecera .cabeceraSubtitulo,
.cabecera .cabeceraSubtitulo2 {
    font-size: 42px;
  }
}
/*                (DESKTOP - HEADER)                  */
@media screen and (min-width: 992px) {
  .cabecera .cabeceraLogo {
    position: absolute;
    height: 255px;
    width: 153px;
  }
  .cabecera .menuButtons {
    justify-content: space-evenly;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    height: 80px;
  }
  .cabecera .menuButtons .cabeceraLink a {
    display: inline;
    font-size: 22px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(36, 36, 36, 0);
    border-top: 1px solid rgba(36, 36, 36, 0);
    transition: background-color 1s, color 1s;
  }
  .cabecera .menuButtons .cabeceraLink a:hover {
    background-color: rgb(186, 129, 129);
    color: rgb(77, 74, 74);
    font-size: 22px;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0);
  }
  .cabecera .cabeceraTitulo {
    font-size: 72px;
  }
  .cabecera .cabeceraSubtitulo,
.cabecera .cabeceraSubtitulo2 {
    font-size: 42px;
  }
}
/*                (MOBILE - FOOTER)                  */
.pieDePagina {
  background-color: rgb(100, 0, 0);
  color: rgb(214, 214, 214);
  font-size: 10px;
}
.pieDePagina .footerLogos .comsLogo {
  width: 24px;
  height: 28px;
}
.pieDePagina .footerText {
  display: none;
}
.pieDePagina div .derechos {
  font-size: 12px;
}

/*                (TABLET - FOOTER)                  */
@media screen and (min-width: 768px) {
  .pieDePagina {
    font-size: 22px;
  }
  .pieDePagina .footerLogos .comsLogo {
    width: 60px;
    height: 70px;
  }
  .pieDePagina .footerText {
    display: inline-flex;
  }
  .pieDePagina div .derechos {
    font-size: 16px;
  }
}
/*                (DESKTOP - FOOTER)                  */
@media screen and (min-width: 992px) {
  .pieDePagina {
    font-size: 22px;
  }
  .pieDePagina .footerLogos .comsLogo {
    width: 60px;
    height: 70px;
  }
  .pieDePagina .footerText {
    display: inline-flex;
  }
  .pieDePagina div .derechos {
    font-size: 16px;
  }
}
* {
  font-family: "Playfair Display", serif;
}

/* -------------------- MOBILE-FIRST -------------------- */
/* INDEX (Mobile) */
.cuerpoIndex {
  background-color: #ebebeb;
}
.cuerpoIndex .introduccion {
  color: #202020;
  font-size: 20px;
  text-indent: 80px;
  text-align: justify;
}
.cuerpoIndex .citas {
  background-image: url(https://wallpaperaccess.com/full/702858.jpg);
  background-position: center;
  background-size: cover;
  font-size: 28px;
  color: #d6d6d6;
}
.cuerpoIndex .citas .citaBottom {
  background-color: rgba(0, 0, 0, 0.5843137255);
  font-style: italic;
}

/* SERVICIOS (Mobile) */
.cuerpoServicios {
  background-image: url(../Imagenes/escritorio.jpg);
  background-size: cover;
}
.cuerpoServicios .serv__Tipo {
  background-color: rgba(48, 33, 33, 0.8);
  border-radius: 15px;
}
.cuerpoServicios .serv__Tipo .serv__TipoTitulo {
  background-color: #640000;
  color: #d6d6d6;
  font-size: 24px;
  border-radius: 20px;
}
.cuerpoServicios .serv__Tipo .serv__Rama {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 15px;
  list-style-type: none;
  color: rgb(201, 201, 201);
  font-size: 20px;
}
.cuerpoServicios .serv__Tipo .serv__RamaLista {
  list-style-type: none;
  color: #d6d6d6;
  font-size: 18px;
}

/* SOBRE NOSOTROS (Mobile) */
.nosotrosCuerpo {
  background-image: url(../Imagenes/Temis.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}
.nosotrosCuerpo .nosotros__Subtitulo {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5843137255);
  font-size: 26px;
  color: rgb(255, 190, 190);
  -webkit-text-decoration: underline solid 3px rgb(255, 190, 190);
          text-decoration: underline solid 3px rgb(255, 190, 190);
}
.nosotrosCuerpo .nosotros__Texto {
  border-radius: 25px;
  background-color: rgba(69, 54, 54, 0.864);
  color: #d6d6d6;
  font-size: 18px;
  line-height: 2;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 120px;
}

/* EQUIPO (Mobile) */
.equipo__Cuerpo {
  background-color: rgb(211, 208, 208);
  color: #202020;
}
.equipo__Cuerpo .equipo__TituloPrincipal {
  font-size: 32px;
  text-align: center;
  font-style: italic;
}
.equipo__Cuerpo .equipo__Tarjeta {
  background-color: rgb(78, 12, 12);
  color: #d6d6d6;
}
.equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro {
  display: flex;
  background-color: rgb(69, 54, 54);
  flex-direction: column;
}
.equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos {
  text-align: right;
  line-height: 1;
  background-size: cover;
}
.equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Foto {
  position: relative;
  width: 50%;
  height: 50%;
  transition: width 2s;
}
.equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Foto:hover {
  width: 60%;
}
.equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Filiacion {
  background-color: rgba(0, 0, 0, 0.5843137255);
}
.equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Filiacion .equipo__Nombre {
  font-size: 16px;
}
.equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Filiacion .equipo__Titulo {
  font-size: 12px;
}
.equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Filiacion .equipo__Cargo {
  font-size: 12px;
  text-align: center;
}
.equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos {
  display: none;
  flex-direction: column;
  line-height: 2;
}
.equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Cita {
  background-color: rgba(0, 0, 0, 0.5843137255);
  color: #d6d6d6;
  font-style: italic;
  font-size: 16px;
}

/* CONTÁCTENOS (Mobile) */
.contact__Titulo {
  font-size: 20px;
}

.contact__Formulario {
  border-radius: 25px;
  background-color: rgb(78, 12, 12);
  color: #d6d6d6;
}
.contact__Formulario .contact__Subtitulo {
  font-size: 26px;
}
.contact__Formulario .contact__Texto,
.contact__Formulario .contact__TipoTexto,
.contact__Formulario .contact__Tipo,
.contact__Formulario .contact__Comentario {
  font-size: 20px;
}
.contact__Formulario .contact__Input {
  font-size: 18px;
}
.contact__Formulario .contact__Boton {
  background-color: rgb(245, 245, 220);
  border-radius: 10px;
}
.contact__Formulario .contact__Boton:hover {
  background-color: rgb(255, 233, 233);
}

.contact__Otros {
  border-radius: 25px;
  background-color: rgb(245, 245, 220);
}
.contact__Otros .contact__SubtituloOtro {
  font-size: 26px;
}
.contact__Otros .contact__Foto {
  border-radius: 25px;
  width: 80%;
  height: auto;
}
.contact__Otros .contact__OtrosTexto {
  font-size: 20px;
}

.contact__Parrafo {
  font-size: 20px;
  text-indent: 80px;
  text-align: justify;
  line-height: 1.5;
  color: #f5f5dc;
  background-color: rgb(78, 12, 12);
  border-radius: 25px;
}

/* -------------------- TABLET MEDIA-QUERRIE -------------------- */
@media screen and (min-width: 768px) {
  /* INDEX (TABLET) */
  .cuerpoIndex .introduccion {
    font-size: 32px;
  }
  .cuerpoIndex .citas {
    font-size: 48px;
    height: 700px;
  }
  /* SERVICIOS (TABLET) */
  .cuerpoServicios .serv__Tipo {
    border-radius: 25px;
  }
  .cuerpoServicios .serv__Tipo .serv__TipoTitulo {
    font-size: 32px;
  }
  .cuerpoServicios .serv__Tipo .serv__Rama {
    font-size: 28px;
  }
  .cuerpoServicios .serv__Tipo .serv__RamaLista {
    font-size: 24px;
    line-height: 2;
  }
  /* SOBRE NOSOTROS (TABLET) */
  .nosotrosCuerpo .nosotros__Subtitulo {
    font-size: 34px;
  }
  .nosotrosCuerpo .nosotros__Texto {
    font-size: 28px;
  }
  /* EQUIPO (TABLET) */
  .equipo__Cuerpo .equipo__TituloPrincipal {
    font-size: 48px;
    font-style: italic;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Foto {
    width: 30%;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Foto:hover {
    width: 35%;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Filiacion .equipo__Nombre {
    font-size: 32px;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Filiacion .equipo__Titulo,
.equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Filiacion .equipo__Cargo {
    font-size: 18px;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos {
    display: inline-flex;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos .equipo__JornadasTitulo {
    display: inline-flex;
    font-size: 22px;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos .equipo__ListaJornadas {
    display: flex;
    flex-direction: column;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos .equipo__ListaJornadas .equipo__Jornadas {
    display: inline-flex;
    font-size: 20px;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos .equipo__SeminariosTitulo {
    display: inline-flex;
    font-size: 22px;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos .equipo__ListaSeminarios {
    display: flex;
    flex-direction: column;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos .equipo__ListaSeminarios .equipo__Seminarios {
    display: inline-flex;
    font-size: 20px;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .Equipo__SeccionCitas .equipo__Cita {
    font-size: 20px;
  }
  /* CONTÁCTENOS (TABLET) */
  .contact__Titulo {
    font-size: 28px;
  }
  .contact__Formulario .contact__Subtitulo {
    font-size: 28px;
  }
  .contact__Formulario .contact__Texto {
    font-size: 24px;
  }
  .contact__Formulario .contact__Input {
    font-size: 22px;
  }
  .contact__Formulario .contact__Tipo,
.contact__Formulario .contact__Comentario,
.contact__Formulario .contact__TipoTexto {
    font-size: 24px;
  }
  .contact__Otros {
    display: flex;
    flex-direction: column;
  }
  .contact__Otros .contact__OtrosTexto {
    font-size: 22px;
  }
  .contact__Parrafo {
    font-size: 24px;
  }
}
/* -------------------- DESKTOP MEDIA-QUERRIE -------------------- */
@media screen and (min-width: 992px) {
  /* INDEX (DESKTOP) */
  .cuerpoIndex {
    font-size: 30px;
  }
  /* SERVICIOS (DESKTOP) */
  .serv__Tipo {
    border-radius: 25px;
  }
  .serv__Tipo .serv__TipoTitulo {
    font-size: 32px;
  }
  .serv__Tipo .serv__Rama {
    font-size: 28px;
  }
  .serv__Tipo .serv__RamaLista {
    font-size: 24px;
    line-height: 2;
  }
  /* SOBRE NOSOTROS (DESKTOP) */
  .nosotros__Subtitulo {
    font-size: 34px;
  }
  .nosotros__Texto {
    font-size: 28px;
  }
  /* EQUIPO (DESKTOP) */
  .equipo__Cuerpo .equipo__TituloPrincipal {
    font-size: 48px;
    font-style: italic;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Filiacion .equipo__Nombre {
    font-size: 32px;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Filiacion .equipo__Titulo,
.equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Filiacion .equipo__Cargo {
    font-size: 18px;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos {
    display: inline-flex;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos .equipo__JornadasTitulo {
    display: inline-flex;
    font-size: 26px;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos .equipo__ListaJornadas {
    display: flex;
    flex-direction: column;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos .equipo__ListaJornadas .equipo__Jornadas {
    display: inline-flex;
    font-size: 22px;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos .equipo__SeminariosTitulo {
    display: inline-flex;
    font-size: 26px;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos .equipo__ListaSeminarios {
    display: flex;
    flex-direction: column;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .equipo__Eventos .equipo__ListaSeminarios .equipo__Seminarios {
    display: inline-flex;
    font-size: 22px;
  }
  .equipo__Cuerpo .equipo__Tarjeta .equipo__Miembro .equipo__MiembroDatos .Equipo__SeccionCitas .equipo__Cita {
    font-size: 20px;
  }
  /* CONTÁCTENOS (DESKTOP) */
  .contact__Titulo {
    font-size: 28px;
  }
  .contact__Subtitulo {
    font-size: 28px;
    margin-bottom: 50px;
  }
  .contact__Input {
    font-size: 22px;
  }
  .contact__Texto {
    font-size: 24px;
  }
  .contact__OtrosTexto {
    font-size: 24px;
  }
  .contact__Parrafo {
    font-size: 24px;
  }
  .contact__Tipo,
.contact__Comentario,
.contact__TipoTexto {
    font-size: 24px;
  }
}/*# sourceMappingURL=Styles.css.map */